<template>
    <div class="form-check">
        <input  class="form-check-input"
                type="checkbox" 
                v-model="checkbox.is_checked"
                :id="checkbox.label" 
                :disabled="checkbox.is_disabled"
        >
        <label class="form-check-label" :for="checkbox.label">
            {{checkbox.label}}
        </label>
    </div>
</template>


<script>
    export default {
        props:['checkbox']
    }
</script>
