<template>
  <div id="app">
        <form>
          <div class="row mb-3"> 
            <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Email Notifications</label>
            <div class="col-md-8 col-lg-9">
              <template v-for="(checkbox, index) in checkboxes">
                <Checkbox :key="checkbox.label" :checkbox.sync="checkboxes[index]"/>
              </template>
            </div>
          </div>
          <div class="text-center">
            <button @click="showChanges" type="button" class="btn btn-primary">Save changes</button>
          </div>
        </form>
  </div>
</template>

<script>
import 'bootstrap/dist/css/bootstrap.css'
import {getCheckboxes} from './services/getCheckboxes'
import Checkbox from './components/UI/Checkbox.vue'

export default {
  name: 'App',
  data() {
    return {
      checkboxes:[]
    }
  },
  components: {
    Checkbox
  },
  methods: {
    showChanges() {
      console.log(this.checkboxes);
    }
  },

  async mounted() {
    this.checkboxes = await getCheckboxes()
  }
}


</script>

<style>
html, body {
  height: 100%;
}
*, ::after, ::before {
    box-sizing: border-box;
}
#app {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
  form {
    max-width: 594px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0 30px rgb(1 41 112 / 10%);
    padding: 0 20px 20px 20px;
  }
.col-form-label {
    padding-top: calc(0.375rem + 1px);
    padding-bottom: calc(0.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
}
</style>
